<a href="https://colab.research.google.com/github/valenting13/Power-BI/blob/main/Python_Vs_Power_BI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python & Power BI**

In [ ]:
#Importamos librería
import pandas as pd
#Leeemos el archivo csv
df = pd.read_csv(r"/content/Dataset.csv",encoding="ISO-8859-1")
#Cambiamos texto en la columna sexo y borramos el total
df.loc[df.Sexo=="Homes","Sexo"] ="Hombres"
df.loc[df.Sexo=="Mulleres","Sexo"] ="Mujeres"
df.drop(df[df.Sexo=="Total"].index, inplace=True)
#Borramos columnas innecesarias
dfColumnaIn = df.drop(['CodTempo',"DatoN","Variable"], axis=1)
#Borramos números que estaban ubicados en los nombres de los espacios(Espazo)
df_final = dfColumnaIn.replace({'[1 2 3 4 5 6 7 8 9 0]':''},regex=True)
#Reiniciamos el índice
df_final.reset_index(inplace=True,drop=True)
#Resultado
df_final

    Tempo     Sexo  CodEspazo      Espazo    DatoT
0    2011  Hombres         15     ACoruña  124.842
1    2011  Hombres         27        Lugo   47.881
2    2011  Hombres         32     Ourense   45.561
3    2011  Hombres         36  Pontevedra   96.574
4    2011  Mujeres         15     ACoruña  122.625
..    ...      ...        ...         ...      ...
75   2021  Hombres         36  Pontevedra  107.906
76   2021  Mujeres         15     ACoruña  134.100
77   2021  Mujeres         27        Lugo   49.161
78   2021  Mujeres         32     Ourense   47.377
79   2021  Mujeres         36  Pontevedra  107.906

[80 rows x 5 columns]